@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Sedgwick+Ave+Display&display=swap');

.table-top-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 75px;
    margin: 0px;
    color: #360002;
  }
}